<!-- Sección Nosotros -->
<mat-card class="info-card">



  <mat-card-header>
    <mat-card-title>Nosotros</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      En UWORK, creemos en el poder de la colaboración y el apoyo mutuo dentro de la comunidad estudiantil de la UPC.
      Nacimos de la idea de crear un puente de conocimiento donde la experiencia de los alumnos de ciclos superiores
      pueda iluminar el camino de aquellos que recién comienzan su trayectoria académica.
    </p>

     <img mat-card-image src="public\favicon.ico" alt="Nosotros UWORK" />

  </mat-card-content>
</mat-card>

<!-- Misión -->
<mat-card class="info-card">
  <mat-card-header>
    <mat-card-title>Misión</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      Nuestra misión es facilitar un espacio donde los estudiantes puedan conectarse, compartir ideas, resolver dudas
      y construir una red de apoyo que enriquezca la experiencia de aprendizaje para todos.
    </p>

     <img mat-card-image src="public\favicon.ico" alt="Mision UWORK" />
  </mat-card-content>
</mat-card>

<!-- Visión -->
<mat-card class="info-card">
  <mat-card-header>
    <mat-card-title>Visión</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      Visualizamos un futuro donde cada estudiante de la UPC se sienta respaldado y empoderado para alcanzar su máximo
      potencial, sin importar en qué etapa de su carrera se encuentre. UWORK es el catalizador de esta visión.
    </p>

     <img mat-card-image src="public\favicon.ico" alt="Vision UWORK" />
  </mat-card-content>
</mat-card>
