<div class="container">
  <div style="text-align: center; margin:5%">
    <h1>Buscar mensajes por palabra clave</h1>
  </div>

  <div>
    <form [formGroup]="form">
      <mat-form-field appearance="fill">
        <mat-label>Palabra clave</mat-label>
        <input matInput formControlName="keyword">
      </mat-form-field>
    </form>
  </div>

  <div style="text-align: center; margin:5%">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 custom-table" *ngIf="!noResults">

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let element">{{ element.id_mensaje }}</td>
      </ng-container>

      <ng-container matColumnDef="contenido">
        <th mat-header-cell *matHeaderCellDef>Contenido</th>
        <td mat-cell *matCellDef="let element">{{ element.contenido }}</td>
      </ng-container>

      <ng-container matColumnDef="fecha">
        <th mat-header-cell *matHeaderCellDef>Fecha</th>
        <td mat-cell *matCellDef="let element">{{ element.fecha_mensaje }}</td>
      </ng-container>

      <ng-container matColumnDef="idUsuario">
        <th mat-header-cell *matHeaderCellDef>ID Usuario</th>
        <td mat-cell *matCellDef="let element">{{ element.id_usuario }}</td>
      </ng-container>

      <ng-container matColumnDef="idAsesoria">
        <th mat-header-cell *matHeaderCellDef>ID Asesoría</th>
        <td mat-cell *matCellDef="let element">{{ element.id_asesoria }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <div *ngIf="noResults" style="margin-top: 20px;">
      <p>No se encontraron mensajes con esa palabra clave.</p>
    </div>
  </div>
</div>
