<mat-toolbar class="custom-toolbar">

 <!-- MENÚ PÚBLICO SIEMPRE -->
<!-- Mostrado solo cuando NO ha iniciado sesión -->
<div *ngIf="!isLoggedIn">
  <button mat-button routerLink="/home" class="btn-rojo">
    <mat-icon>home</mat-icon>
    Inicio
  </button>
</div>

<!-- Mostrado solo cuando SÍ ha iniciado sesión -->
<div *ngIf="isLoggedIn">
  <button mat-button routerLink="/inicio" class="btn-rojo">
    <mat-icon>home</mat-icon>
    Inicio
  </button>
</div>

  <div *ngIf="!isLoggedIn">
    <button mat-button routerLink="/nosotros" class="btn-rojo">
      <mat-icon>groups</mat-icon>
      Nosotros
    </button>
  </div>

   <!-- OPCIONES VISIBLES SOLO SI ESTÁ LOGUEADO -->
    <div *ngIf="isLoggedIn">
    <button mat-button [matMenuTriggerFor]="menuUsuario" class="btn-rojo">
      <mat-icon>supervisor_account</mat-icon>
      Usuario
    </button>
  </div>

  <div *ngIf="isLoggedIn">
    <button mat-button [matMenuTriggerFor]="menuUsuariopremio" class="btn-rojo">
      <mat-icon>supervisor_account</mat-icon>
      Usuario-Premios
    </button>
  </div>

  <div>
    <button mat-button [matMenuTriggerFor]="menupremio" class="btn-rojo">
      <mat-icon>emoji_events</mat-icon>
      Premios
    </button>
  </div>

  <div>
    <button mat-button [matMenuTriggerFor]="menuArticulo" class="btn-rojo">
      <mat-icon>article</mat-icon>
      Artículos
    </button>
  </div>

   <div *ngIf="isLoggedIn">
    <button mat-button [matMenuTriggerFor]="menuComentarioArticulo" class="btn-rojo">
      <mat-icon>comment</mat-icon>
      Comentario Artículo
    </button>
  </div>

   <div *ngIf="isLoggedIn">
    <button mat-button [matMenuTriggerFor]="menuValoracion" class="btn-rojo">
      <mat-icon>comment</mat-icon>
      Valoracion
    </button>
  </div>

  <div *ngIf="isLoggedIn">
    <button mat-button [matMenuTriggerFor]="menuRol" class="btn-rojo">
      <mat-icon>admin_panel_settings</mat-icon>
      Rol
    </button>
  </div>
  <!-- ESPACIADOR PARA ALINEAR BOTONES A LA DERECHA -->
  <span class="spacer"></span>

  <!-- BOTONES DE LOGIN/REGISTER SI NO ESTÁ LOGUEADO -->
  <div *ngIf="!isLoggedIn">
    <button mat-stroked-button color="accent" routerLink="/login" (click)="login()">
       <mat-icon>login</mat-icon> Iniciar Sesión</button>
    <button mat-stroked-button color="accent" routerLink="/register">
      <mat-icon>person_add</mat-icon> Registrarse</button>
  </div>

   <div *ngIf="isLoggedIn">
    <button mat-raised-button color="warn" class="logout-button" routerLink="/chatIA">Chat-IA</button>
  </div>

  <!-- BOToN mi cuenta -->
   <div *ngIf="isLoggedIn">
    <button mat-raised-button color="warn" class="logout-button" routerLink="/inicio">Mi cuenta</button>
  </div>
<!-- BOToN DE cerrar sesion -->
  <div *ngIf="isLoggedIn">
    <button mat-raised-button color="warn" class="logout-button" routerLink="/home" (click)="logout()">Cerrar Sesión</button>
  </div>

</mat-toolbar>

<mat-toolbar class="custom-toolbar" *ngIf="isLoggedIn">
  <div *ngIf="isLoggedIn">
    <button mat-button [matMenuTriggerFor]="menuNotificacion" class="btn-rojo">
    <mat-icon>comment</mat-icon>
    Notificacion
  </button>
  </div>

  <div *ngIf="isLoggedIn">
    <button mat-button [matMenuTriggerFor]="menuAsesoria" class="btn-rojo">
      <mat-icon>comment</mat-icon>
      Asesoria
    </button>
  </div>

  <div *ngIf="isLoggedIn">
    <button mat-button [matMenuTriggerFor]="menuMensaje" class="btn-rojo">
      <mat-icon>comment</mat-icon>
      Mensaje
    </button>
  </div>

    <div *ngIf="isLoggedIn">
    <button mat-button [matMenuTriggerFor]="menuformatoarchivos" class="btn-rojo">
      <mat-icon>description</mat-icon>
      Formato de Archivos
    </button>
  </div>

    <div *ngIf="isLoggedIn">
    <button mat-button [matMenuTriggerFor]="menuDisponibilidades" class="btn-rojo">
      <mat-icon>description</mat-icon>
      Disponibilidades
    </button>
  </div>

    <div *ngIf="isLoggedIn">
    <button mat-button [matMenuTriggerFor]="menuArchivos" class="btn-rojo">
      <mat-icon>description</mat-icon>
      Archivos
    </button>
  </div>

 <span class="spacer"></span>

  <div>
  <button mat-button [matMenuTriggerFor]="menuReportes" class="btn-rojo">
   <mat-icon>file_copy</mat-icon>
   Reportes
  </button>
 </div>

</mat-toolbar>



<!-- MENÚS -->
<mat-menu #menuUsuariopremio="matMenu">
  <button mat-menu-item routerLink="/usuariopremios">Listar</button>
  <button mat-menu-item routerLink="/usuariopremios/nuevo">Registrar</button>
</mat-menu>

<mat-menu #menupremio="matMenu">
  <button mat-menu-item routerLink="/premios">Listar</button>
  <button mat-menu-item *ngIf="isLoggedIn" routerLink="/premios/nuevo">Registrar</button>
</mat-menu>

<mat-menu #menuArticulo="matMenu">
  <button mat-menu-item routerLink="/articulos">Listar</button>
  <button mat-menu-item *ngIf="isLoggedIn" routerLink="/articulos/nuevo">Registrar</button>
  <button mat-menu-item *ngIf="isLoggedIn" routerLink="/articulos/busquedas">Buscar por palabra clave</button>
</mat-menu>

<mat-menu #menuformatoarchivos="matMenu">
  <button mat-menu-item routerLink="/formatoarchivos">Listar</button>
  <button mat-menu-item routerLink="/formatoarchivos/nuevo">Registrar</button>
</mat-menu>

<mat-menu #menuRol="matMenu">
  <button mat-menu-item routerLink="/roles">Listar</button>
  <button mat-menu-item routerLink="/roles/nuevo">Registrar</button>
</mat-menu>

<mat-menu #menuComentarioArticulo="matMenu">
  <button mat-menu-item routerLink="/comentarioarticulos">Listar</button>
  <button mat-menu-item routerLink="/comentarioarticulos/nuevo">Registrar</button>
</mat-menu>

<mat-menu #menuUsuario="matMenu">
  <button mat-menu-item routerLink="/usuarios">Listar</button>
  <button mat-menu-item routerLink="/usuarios/nuevo">Registrar</button>
</mat-menu>

<mat-menu #menuAsesoria="matMenu">
  <button mat-menu-item routerLink="/asesorias">Listar</button>
  <button mat-menu-item routerLink="/asesorias/nuevo">Registrar</button>
  <button mat-menu-item routerLink="/asesorias/chat/:id/:nombreAsesoria">Chat Asesoria</button>
</mat-menu>

<mat-menu #menuMensaje="matMenu">
  <button mat-menu-item routerLink="/mensajes">Listar</button>
  <button mat-menu-item routerLink="/mensajes/nuevo">Registrar</button>
</mat-menu>

<mat-menu #menuValoracion="matMenu">
  <button mat-menu-item routerLink="/valoraciones">Listar</button>
  <button mat-menu-item routerLink="/valoraciones/nuevo">Registrar</button>
</mat-menu>

<mat-menu #menuNotificacion="matMenu">
  <button mat-menu-item routerLink="/notificaciones">Listar</button>
  <button mat-menu-item routerLink="/notificaciones/nuevo">Registrar</button>
</mat-menu>

<mat-menu #menuReportes="matMenu">
  <button mat-menu-item routerLink="/reports">Promedio Notificaciones</button>
</mat-menu>

<mat-menu #menuDisponibilidades="matMenu">
  <button mat-menu-item routerLink="/disponibilidades">Listar</button>
  <button mat-menu-item routerLink="/disponibilidades/nuevo">Registrar</button>
</mat-menu>

<mat-menu #menuArchivos="matMenu">
  <button mat-menu-item routerLink="/archivos">Listar</button>
  <button mat-menu-item routerLink="/archivos/nuevo">Registrar</button>
</mat-menu>
