<mat-card class="welcome-card">
  <mat-card-header>
    <mat-card-title>Bienvenido a UWORK</mat-card-title>
    <mat-card-subtitle>Tu espacio como estudiante UPC</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>Ya iniciaste sesión. Aquí puedes acceder a tus herramientas, revisar tus artículos, canjear premios, ver tus asesorías y más...</p>
    <div class="quick-actions">
      <button mat-raised-button color="primary" routerLink="/articulos">Mis Artículos</button>
      <button mat-raised-button color="accent" routerLink="/usuariopremios">Ver Premios Canjeados</button>
      <button mat-raised-button color="primary" routerLink="/asesorias">Mis Asesorias</button>
    </div>
  </mat-card-content>
</mat-card>
